<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl | prepend: site.url}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type ="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/images/favicon.ico">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2024-07-07',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: [
            {
              title: 'All Day Event',
              start: '2024-07-01'
            },
            {
              title: 'Long Event',
              start: '2024-07-07',
              end: '2024-07-10'
            },
            {
              groupId: '999',
              title: 'Repeating Event',
              start: '2024-07-09T16:00:00'
            },
            {
              groupId: '999',
              title: 'Repeating Event',
              start: '2024-07-16T16:00:00'
            },
            {
              title: 'Conference',
              start: '2024-07-11',
              end: '2024-07-13'
            },
            {
              title: 'Meeting',
              start: '2024-07-12T10:30:00',
              end: '2024-07-12T12:30:00'
            },
            {
              title: 'Lunch',
              start: '2024-07-12T12:00:00'
            },
            {
              title: 'Meeting',
              start: '2024-07-12T14:30:00'
            },
            {
              title: 'Birthday Party',
              start: '2024-07-13T07:00:00'
            },
            {
              title: 'Click for Google',
              url: 'https://google.com/',
              start: '2024-07-28'
            }
          ]
        });

        calendar.render();
        //   initialView: 'listWeek',
        //   plugins: [ googleCalendarPlugin ],
        //     googleCalendarApiKey: 'AIzaSyD4jK7B3JDBBqVZh9rqDYdEczrGvD9oRVs',
        //     events: {
        //       googleCalendarId: '0etejkbmt51d2l0enkha78no5c@group.calendar.google.com'
        //     }
        // });

        // calendar.render();
      });
    </script>
  </head>

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        <div id='calendar'></div>
      </div>
      <div class="row">
        <div id="textid" class="col-sm-12">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
